html {
    background-image: url("../class-demos/week1/cat.jpeg");
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
}

h1 {
    font-family: sans-serif;
    font-size: 3rem;
    text-decoration: underline white wavy;
}

p,
h1 {
    color: white;
}

p,
h1 > span {
    background-color: rgba(0, 0, 50, 0.5);
}

a {
    color: white;
    background-color: rgba(85, 107, 47, 0.8);
}

a:hover {
    box-shadow: 10px 10px 5px rgba(0, 100, 50, 0.3);
}

body {
    font-family: monospace;
    text-align: center;
    font-size: 2rem;
    max-width: 55%;
    margin: 0 auto;
}

ul,
li {
    all: unset;
    line-height: 1.5;
}

nav {
    display: flex;
    flex-direction: row;
    filter: invert(1);
    margin: 50px;
}
